:root {
    --pkg-shadow: 3px 3px 2px 0.5px;

    --global-background: hsl(240, 11%, 96%);
    --search-background: hsl(240, 11%, 98%);
    --label-color: hsl(0, 0%, 0%);
    --card-text-color: hsl(0, 0%, 0%);

    --inactive-background: hsl(240, 11%, 80%);
    --inactive-text-color: hsl(240, 11%, 50%);
    --inactive-border: hsl(240, 11%, 50%);

    --brew-overflow: hsl(29, 50%, 70%, 0%);
    --brew-background: hsl(29, 50%, 70%);
    --brew-border: hsl(29, 50%, 26%);

    --pypi-overflow: hsl(200, 84%, 85%, 0%);
    --pypi-background: hsl(200, 84%, 85%);
    --pypi-border: hsl(200, 84%, 30%);

    --npm-overflow: hsl(53, 84%, 85%, 0%);
    --npm-background: hsl(53, 84%, 85%);
    --npm-border: hsl(53, 84%, 45%);

    --crates-overflow: hsl(30, 82%, 80%, 0%);
    --crates-background: hsl(30, 82%, 80%);
    --crates-border: hsl(30, 82%, 45%);

    --gems-overflow: hsl(0, 84%, 80%, 0%);
    --gems-background: hsl(0, 84%, 80%);
    --gems-border: hsl(0, 84%, 44%);

    --domain-background: hsl(148, 100%, 85%);
    --domain-border: hsl(148, 100%, 26%);
}

#brewCask,
#brewCore {
    --overflow: var(--brew-overflow);
    --background: var(--brew-background);
    --border: var(--brew-border);
}

#pypi {
    --overflow: var(--pypi-overflow);
    --background: var(--pypi-background);
    --border: var(--pypi-border);
}

#npm {
    --overflow: var(--npm-overflow);
    --background: var(--npm-background);
    --border: var(--npm-border);
}

#crates {
    --overflow: var(--crates-overflow);
    --background: var(--crates-background);
    --border: var(--crates-border);
}

#gems {
    --overflow: var(--gems-overflow);
    --background: var(--gems-background);
    --border: var(--gems-border);
}

* {
    font-family: "Outfit", sans-serif;
    background-color: var(--global-background);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    background: linear-gradient(
        80deg,
        #f06844,
        #ee4c54,
        #d45e95,
        #9c6ca6,
        #6583c1
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* Animate gradient background */
    background-size: 200% auto;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#form {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 1fr) 1fr;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#search {
    all: unset;
    grid-column: 2/3;
    background-color: var(--search-background);
    border-color: hsl(0, 0%, 0%);
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.2rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    outline: none;
    transition: box-shadow 0.15s linear;
}

#search::placeholder {
    opacity: 0.35;
    color: var(--label-color);
}

#search:focus,
#search:hover {
    box-shadow: 0px 0px 4px 0.5px;
    transition: box-shadow 0.125s linear;
}

#search:focus::placeholder {
    opacity: 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--label-color);
}

#pkgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

#domains {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pkg {
    display: grid;
    grid-template-rows: 20px 1fr 27px;
    row-gap: 1rem;
    min-height: 200px;
    max-height: 300px;
    width: 13rem;
    color: var(--card-text-color);
}

.pkg-contents {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pkg-contents:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.pkg-id {
    text-align: center;
    font-weight: bold;
}

.pkg,
.domain {
    border-radius: 1rem;
    border-style: solid;
    margin: 1rem;
    padding: 1rem;
    min-width: 10rem;
    max-width: min-content;
    height: auto;
}

.domain {
    display: grid;
    grid-template-rows: 20px 20px;
    row-gap: 1rem;
}

.pkg.inactive,
.domain.inactive {
    box-shadow: none;
}

.pkg-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    border-style: solid;
    border-color: inherit;
    border-radius: inherit;
    max-height: 27px;
    align-self: end;
    background-color: inherit;
    filter: brightness(95%);
    box-shadow: inherit;
}

.pkg-link:hover {
    border-color: inherit;
    filter: brightness(90%);
}

.pkg.inactive,
.pkg.inactive *,
.domain.inactive,
.domain.inactive * {
    color: var(--inactive-text-color);
    background-color: var(--inactive-background);
    border-color: var(--inactive-border);
}

.domain-status {
    text-align: center;
}

.domain:not(.inactive) {
    background-color: var(--domain-background);
    border-color: var(--domain-border);
    box-shadow: var(--pkg-shadow) var(--domain-border);
    color: var(--card-text-color);
}

.domain:not(.inactive) * {
    background-color: var(--domain-background);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#root {
    flex: 1 auto;
}

#mh-signature {
    padding-top: 3rem;
    padding-left: 1.4rem;
    padding-bottom: 0.5rem;
    flex: auto 0;
}

#signature-message {
    color: var(--label-color);
}
#signature-path {
    stroke: var(--label-color);
}
